#contact {
  padding: 100px 0;
  width: 100%;
  z-index: -1;
}

#contact h2 {
  color: var(--darkBlue);
}

.form-container {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  border-radius: var(--borderRadius);
  box-shadow: 0 0 2px 2px var(--black2);
  margin: auto;
  padding: 30px 60px 15px 60px;
  width: 80%;
}

#contact p {
  display: grid;
  grid-template-columns: 100%;
  margin-bottom: 15px;
}

#contact label {
  color: var(--white1);
}

input[type='text'],
input[type='tel'],
input[type='email'],
textarea {
  background-color: transparent;
  border-bottom: 2px solid var(--white1);
  color: var(--white1);
  outline: 0;
  padding: 8px;
  width: 100%;
}

textarea {
  height: 60px;
  resize: vertical;
}

input#submit {
  background-color: var(--white1);
  border-radius: var(--borderRadius);
  box-shadow: 0 0 1px 1px var(--black2);
  color: var(--black1);
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-top: 15px;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  width: 150px;
}

input#submit:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: var(--white1);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* MQ TABLET */

@media (min-width: 650px) and (max-width: 992px) {
  .form-container {
    width: 450px;
  }
}

/* MQ PC */

@media (min-width: 993px) {
  .form-container {
    width: 500px;
  }
}
